
{% extends 'work/base.html' %}
{% load static %}





{% block content %}
<h1>{{ title }}</h1>
<h1 >
    <span class="body ">Валькирия! </span>
    <p> логотип </p>

</h1>
    <br>
    Информация об Услугах (картинки и стоимость)
    <hr>
    <br>
    Информация о Исполнителе, адрес с картой, контакты
    <hr>


<a class="button button_green " data-remote="data-remote" href="/work" style="padding:5px 10px 5px 10px;margin-top:10px;">
    <span class="icon icon_search"></span>
    <span class="button__inner">Заказ!</span>
</a>



{% endblock%}